.overdue {
    color: red;
    font-weight: bold;
}

.t-parent {
    // position: absolute;
    top: 80px;
    // width: 100%;
    // height: 70%;
}

.header-h {
    height: 30%;
    background-color: #436b72;
    color: #fff;
    font-size: larger;
    font-weight: 500;
}


.t-action {
    cursor: pointer;
    margin: 0px 2px 0px 0px;
    // display: inline-block;
    // padding: 5px 10px;
    // background: #eee;
}

.f-error {
    color: rgb(247, 43, 43);
    font-size: small;
    font-weight: 600;
    display: block;
    margin-top: 4px;
}

:host ::ng-deep .form-select-lg {
    font-size: .9rem !important;
}

:host ::ng-deep .p-button-text.p-button-info {
    color: #dde5e9;
}

.f-btn {
    display: flex;
    align-items: end;
}

.status-pending {
    color: red;
    font-weight: 600;
}

.status-completed {
    color: green;
    font-weight: 600;
}

.status-inprogress {
    color: orange;
    font-weight: 600;
}